*{
	margin: 0%;
	padding: 0%;
}
body{
	background-color: black;
	background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&w=1000&q=80");
	background-repeat:no-repeat ;
	background-size: cover;
	min-height: 100vh;
}
.head{
	position: relative;
	top:150px;
	left:200px;
	background-color: #208ec9;
	border-radius: 50%;
	width: 9.5%;
	min-height: 18vh;
}
.face{
	position: absolute;
	top:20%;
	left:5%;
	z-index: 1;
	border-radius: 70%;
	width: 90%;
	min-height: 14.4vh;
	background-color: white;
}
.left-eye{
	position: absolute;
	top:10%;
	left: 30%;
	z-index: 2;
	background-color: white;
	border: 1px solid black;
	border-radius: 70%;
	width: 18%;
	min-height: 5.4vh;
}
.lefteyeball{
	position: absolute;
	top:25%;
	left: 37%;
	z-index: 3;
	background-color: black;
	width: 6%;
	min-height: 10%;
	border-radius: 70%;
}
.right-eye{
	position: absolute;
	top:10%;
	left: 50%;
	z-index: 2;
	background-color: white;
	border: 1px solid black;
	border-radius: 70%;
	width: 18%;
	min-height: 5.4vh;
}

.rightteyeball{
	position: absolute;
	top:25%;
	left: 57%;
	z-index: 3;
	background-color: black;
	width: 6%;
	min-height: 10%;
	border-radius: 70%;
}
.nose{
	position: absolute;
	top:37%;
	left: 43%;
	z-index: 3;
	background-color: red;
	width: 13%;
	min-height: 17%;
	border-radius: 70%;
}
.line{
	position: absolute;
	top:40%;
	left: 49%;
	width: 1%;
	min-height: 27%;
	background-color: black;
}
.mouth{
	position: absolute;
	top:65%;
	left:25%;
	border:1px solid red;
	width: 50%;
  	min-height: 25%;
  	background-color: red;
  	border-radius: 0 0 60% 60%/0 0 100% 100%;;
}
.necklace{
	position: absolute;
	top:42%;
	left:17%;
	z-index: 3;
	background-color: red;
	width: 7%;
	border-radius: 10px;
	min-height: 1%;
}
.body{
	position: relative;
	top:150px;
	left:210px;
	width:8%;
	min-height: 14vh;
	border-radius: 6px;
	border-top-left-radius: 10% 50%;
	border-top-right-radius: 10% 50%;
	background-color: #208ec9;
}

.left-hand{
	position: absolute;
	top:0%;
	left: -23%;
	z-index: -1;
	background-color: #208ec9;
	border: 1px solid black;
	border-radius: 40px;
	border-top-right-radius: 0%;
	border-bottom-left-radius: 25% 30%;
	border-bottom-right-radius: 85% 100%;
	width:30%;
	min-height: 70%;
}
.left-pam{
	position: absolute;
	top:57%;
	left: -24%;
	z-index: 3;
	width:20%;
	min-height: 22%;
	background-color: white;
	border-radius: 50%;
}


.right-hand{
	position: absolute;
	top:0%;
	left: 92%;
	z-index: -1;
	background-color: #208ec9;
	border: 1px solid black;
	border-radius: 40px;
	border-top-left-radius: 0%;
	border-bottom-right-radius: 25% 30%;
	border-bottom-left-radius: 105% 80%;
	width:30%;
	min-height: 70%;
}
.right-pam{
	position: absolute;
	top:57%;
	left: 105%;
	z-index: 3;
	width:20%;
	min-height: 22%;
	background-color: white;
	border-radius: 50%;
}
.stomach{
	position: absolute;
	top:-3%;
	left: 11%;
	border-radius: 40%;
	border-top-left-radius: 30% 50%;
	border-top-right-radius: 25% 55%;
	background-color: white;
	width: 80%;
	min-height: 86%;
}
.bell{
	position: absolute;
	top:0%;
	left: 38%;
	z-index: 3;
	background-color: #f6ae25;
	border-radius: 50%;
	border: 1px solid black;
	width: 20%;
	min-height: 16%;
}

.pocket{
	position: absolute;
	top:35%;
	left:15%;
	border:1px solid black;
	width: 70%;
  	min-height: 50%;
  	background-color: white;
  	border-radius: 0 0 60% 60%/0 0 100% 100%;;
}

.left-leg{
	position: absolute;
	top:56%;
	left:15.7%;
	border:1px solid black;
	background-color: white;
	border-radius: 45%;
	border-bottom-right-radius: 16px;
	width: 4.5%;
	min-height: 5%;
}
.right-leg{
	position: absolute;
	top:56%;
	left:20.5%;
	border:1px solid black;
	background-color: white;
	border-radius: 45%;
	border-bottom-left-radius: 16px;
	width: 4.5%;
	min-height: 5%;
}
